* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #c9e8e6;
    color: #333;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6FE5A7;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 70px;
    margin-right: 10px;
}

.navbar .menu a {
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .menu a:hover {
    color: #555;
}

.hero {
    text-align: center;
    padding: 5vw 2vh;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Resource/2-physics.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: 1;
}

.hero h2,
.hero p,
.hero h3,
.cards,
.cta-button {
    position: relative;
    z-index: 2;
    color: #000;
    font-weight: bold;
    margin-top: -3vh;
}

.hero h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 40px 0;
}

.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.card:hover {
    background-color: #555;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h4 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.cta-button {
    background-color: #6FE5A7;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #5DD194;
}


.FrontText {
    background: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    max-width: 800px;
    margin: 20px auto;
    z-index: 2;
    
}

